#Tenemos que tener en cuente que todo esto es lo ue no se tiene que instalar.
#La vs es la carpeta que se crea automatica al ejecutar tu proyecto cada uno tendra la suya personal.
.\Cosmos\vs 

#Tampoco tenemos que tener en cuenta la carpeta bin y la obj.

.\Cosmos\cosmos1\bin
.\Cosmos\cosmos1\obj
